<div class="page-header">
  <h1>
    Ftdebts
    <a href="/ftdebts/new" class="btn btn-lg btn-success">New Ftdebt</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Accountname</th>
        <th>Debt apr</th>
        <th>Debt balance</th>
        <th>Debt term</th>
        <th>User</th>
        <th>Actions</th>
      </tr>

      <% @ftdebts.each do |ftdebt| %>
      <tr>
        <td><%= ftdebt.accountname %></td>
        <td><%= ftdebt.debt_apr %></td>
        <td><%= ftdebt.debt_balance %></td>
        <td><%= ftdebt.debt_term %></td>
        <td><%= ftdebt.user_id %></td>
        <td>
          <a href="/ftdebts/<%= ftdebt.id %>" class="btn btn-primary">Show</a>
          <a href="/ftdebts/<%= ftdebt.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_ftdebt/<%= ftdebt.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
