<div class="page-header">
  <h1>
    Credit Cards
    <a href="/ccdebts/new" class="btn btn-default">Add New Credit Card</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Account Name</th>
        <th>Stated Credit Card APR</th>
        <th>Current Balance</th>
        <th>Balance Term Length</th>
        <th>Actions</th>
      </tr>

      <% @ccdebts.each do |ccdebt| %>
      <tr>
        <td><%= ccdebt.accountname %></td>
        <td><%= ccdebt.debt_apr %></td>
        <td><%= ccdebt.debt_balance %></td>
        <td><%= ccdebt.debt_term %></td>
        <td>
          <a href="/ccdebts/<%= ccdebt.id %>" class="btn btn-default">Show</a>
          <a href="/ccdebts/<%= ccdebt.id %>/edit" class="btn btn-default">Edit</a>
          <a href="/delete_ccdebt/<%= ccdebt.id %>" class="btn btn-default" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
