<div class="page-header">
  <h3><%= @ccdebt.accountname %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Account Name</dt>
      <dd><%= @ccdebt.accountname %></dd>

      <dt>Stated Credit Card APR</dt>
      <dd><%= @ccdebt.debt_apr %></dd>

      <dt>Account Balance</dt>
      <dd><%= @ccdebt.debt_balance %></dd>

      <dt>Balance Term Length</dt>
      <dd><%= @ccdebt.debt_term %></dd>

      <dt>User</dt>
      <dd><%= @ccdebt.user_id %></dd>

    </dl>

    <div class="btn-group">
      <a href="/ccdebts" class="btn btn-default">
        Back
      </a>
      <a href="/ccdebts/<%= @ccdebt.id %>/edit" class="btn btn-default">
        Edit
      </a>
      <a href="/delete_ccdebt/<%= @ccdebt.id %>" class="btn btn-default" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
