<div class="page-header">
  <h3>Ccdebt #<%= @ccdebt.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Accountname</dt>
      <dd><%= @ccdebt.accountname %></dd>

      <dt>Debt apr</dt>
      <dd><%= @ccdebt.debt_apr %></dd>

      <dt>Debt balance</dt>
      <dd><%= @ccdebt.debt_balance %></dd>

      <dt>Debt term</dt>
      <dd><%= @ccdebt.debt_term %></dd>

      <dt>User</dt>
      <dd><%= @ccdebt.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/ccdebts" class="btn btn-primary">
        Back
      </a>
      <a href="/ccdebts/<%= @ccdebt.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_ccdebt/<%= @ccdebt.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
